/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins", serif;
}
header {
  background: #618264;
}
header .container {
  margin: 0 auto;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 95px;
  height: 55px;
  display: block;
}
header div {
  color: #f1f1f1;
  text-decoration: none;
}

header div img {
  max-width: 95px;
  height: 55px;
  display: block;
}